{% extends 'AcmeHelloBundle::layout.html.twig' %}

{% block title %}Fetch Existing Article - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Fetch Existing Article</h1>
    <p>
        Enter the title of the existing Wikipedia article content you wish to fetch, and the form will be populated for you.
    </p>
    <form action="" role="form">
        <div class="row">
            <div class="col-md-10">
                <div class="form-group input-group input-group-lg">
                    <label for="title" class="input-group-addon">Article Title</label>
                    <input id="title" type="text" class="form-control" placeholder="{{ placeholder }}" />
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-lg">Fetch!</button>
            </div>
        </div>
    </form>
{% endblock %}
