{% extends 'AcmeHelloBundle::layout.html.twig' %}

{% block title %}Verify Content - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Verify Fetched Content</h1>
        {% include 'AcmeHelloBundle:Default:_inputForm.html.twig' %}
    </div>
{% endblock %}
