{% extends 'AcmeHelloBundle::layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>Choose an input method to get started</p>
        <p>
            <a href="{{ path('fetch') }}" class="btn btn-lg btn-success">Fetch Content From Article</a>
            <a href="{{ path('input') }}" class="btn btn-lg btn-success">Input Your Own Content</a>
        </p>
    </div>
{% endblock %}
