{% extends 'BMNWikiCategorizerFrontendBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>About this Project</h1>
    </div>
    <p>Some helpful information about this project</p>
    <p>yada yada created by</p>
    <ul>
        <li>Matthew Barry</li>
        <li>Brett Walker</li>
        <li>Nicholas McHenry</li>
    </ul>
    <p>yada yada <a href="http://courses.cse.tamu.edu/caverlee/csce470/" target="_blank">CSCE 470 &ndash; Information Storage and Retrieval</a>, <a href="http://faculty.cse.tamu.edu/caverlee/" target="_blank">James Caverlee</a> at <a href="http://tamu.edu" target="_blank">Texas A&amp;M University</a>.</p>
{% endblock %}
